* {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #2d2c2c;
}

header ul li {
    /*display: inline;*/
    /* padding: 8px; */
    /* padding: 8px 24px; */
    /* padding: 8px 24px 40px 60px; */
    /* padding: 4px;*/
    margin-right: 20px;

}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

body {
    padding: 0px;
    margin: 0px;
}

.icon-buscador {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.icon-grid {
    justify-content: flex-end;
    width: 30px;
    height: 30px;
}

.icon-perfil {
    justify-content: flex-end;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

ul {
    list-style-type: none;
    text-align: end;
}

.googleImg {
    text-align: center;
    padding: 15px;
}

article {
    text-align: center;
    padding: 10px;
}

.btn-buscador {
    border-radius: 25px;
    background-color: #e1e1e1;
    width: 350px;
    height: 30px;
    border: 1px solid #dfe1e5; 
    display: flex;
    align-items: center;
    padding: 4px 8px;   
}

.border-button {
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: #e1e1e1;
    width: 130px;
    height: 30px;
}

#inputBuscador {
    outline: none;
    border: none;
    justify-content: space-between;
       
}

.lupaColor {
    background-color: #e1e1e1;
}

header ul li {
    display: inline;
    padding: 4px;
}

footer {
    height: auto;
}

footer ul {
    display: inline-block;
    margin: 15px 0px;
}

footer ul li {
    display: inline;
    padding: 15px;
}

footer section:last-child ul li {
   text-align: end;
}